@import '../Vars.scss';
@import '../App.scss';

.footer {
  grid-area: footer;
  font-size: 1.2em;
  text-align: center;
  background-color: $second-color;
  color: $font-color;
  box-shadow: 0px -5px 5px 0px rgba(199,199,199,1);
  &__text {
    margin-top: 50px;
  }
}