footer{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #3B3B3B;
  p{
    font-size: 30px;
    padding-bottom: 30px;
    color: white;
  }
}