@import '../Breackpoints.scss';
@import '../Vars.scss';
@import '../App.scss';


form {
  display: inline-block;
  width: 100vw;
  height: 420px;
  color: black;
  padding: 1.5em;
  background-color: $second-color;
  
  h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  input {
    
    height: 25px;
    width: 50%;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    
    border: 1px solid $gray;
    margin-bottom: 10px;
  }
  button {
    border: none;
    border-radius: 3px;
    width: 50%;
    height: 26px;
    color: $font-color;
    margin-top: 1em;
    background-color:$gray;
    &:hover{
    background-color: $font-color;
    color:$main-color; 
    cursor: pointer;
    margin-bottom: 30px;
    }
  }
  textarea {
    width: 50%;
     border: 1px solid $gray;
    padding: 10px 4px;
    height: 137px;
    margin: 0px;
  }
}

