@import '../Breackpoints.scss';
@import '../Vars.scss';
@import '../App.scss';

.header {
  
  display: none;
  ////////////////
  @include media(desktop-s){
    grid-area: left;
    display: block;
    background-color: $thrid-color;
    color: $second-color;
  text-align: center;
  &__title{
    text-transform: uppercase;
    color: green;
    // border-bottom:solid 1px $main-color;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  nav ul li{
    padding: 30px 0 0 0;
    a{
      text-decoration: none;
      color: $gray;
      font-size: 1em;
      padding: 0 0 5px 0;
    }
    a:hover {
      color: $second-color;
    }
  }
  }
}

