@import '../Breackpoints.scss';
@import '../Vars.scss';
@import '../App.scss';

.header {
  &__menuCSS3 {
  background-color: $thrid-color;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    a {
      display: block;
      padding: 1em;
      background-color: $thrid-color;
      text-decoration: none;
      color: #9A9A9A;
    }
    a:hover {
      background-color: $gray;
      color: black;
    }
    ul li ul {
      display: none;
    }
    ul li a:hover + ul, .menuCSS3 ul li ul:hover {
      display: block;
    }
  }

  @include media(desktop-s){
    grid-area: left;
    .header__menuCSS3{
      height: 100%;
        ul {
        display: block;
        }
        ul li ul {
        display: block;
        }
        ul li a:hover + ul, .header__menuCSS3 ul li ul:hover {
        display: block;
        }
    }
  }
}

