@import '../App.scss';
@import '../Vars.scss';
@import '../Breackpoints.scss';



.contenedorCountries{
  grid-area: contenido;
  width: 60%;
   margin: 0 auto;
  @include media(desktop-s){
     width: 60%;
  }
}

.wrappChart{
  
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  
}

