
$main-color: #F7F7F8;
$second-color: #ffffff;
$thrid-color:  #1F1F1F;


$gray: #9A9A9A;
$font-color: #424242;


// $page-background : #303f9f;
$nav-background : #303f9f;
$color : rgba(black, .87);
$transition : .75s;
$graphics: #82ca9d;
